body{
    background-color: darkgrey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0; 
    min-height: 100vh;
    display: grid;
    place-items: center;
}

* { 
    box-sizing: border-box;
 }

 .calc {
     width: min(360px, 92vw);
      display: grid;
       gap: 20px;
     }

.keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px; 
    
}

button{
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding:14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 20px;
}

#display{
    border-radius: 5px;
    padding:15px;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    width: 100%;
    text-align: right;
    font-weight: 700; 
    }

.keys button { 
      cursor: pointer;
 }


.equals { 
        grid-column: 1/-1;
 }

